In [1]:
from pymongo import MongoClient

In [31]:
client = MongoClient()
db = client.test

In [36]:
cursor = db.restaurants.find({"grades.grade": "B"})
print(cursor.count())
# for document in cursor:
#     print(document['name'])

8280

In [38]:
cursor = db.restaurants.find({"grades.score": {"$gt": 30}})
print(cursor.count())
# for document in cursor:
#     print(document)

1959

In [24]:
db = client.tieba

In [25]:
db.jinan.insert_one({"author": "author_test", "content": "This is test!"})

In [26]:
_.inserted_id

ObjectId('5731c37a734a6a4aff67730c')

In [27]:
result = db.jinan.insert_one({"author": "author_test2", "content": "This is test2!"})
print(result.inserted_id)

5731c461734a6a4aff67730d

In [30]:
result = db.jinan.find({"author": "author_test"})
for doc in result:
    print(doc)

{'author': 'author_test', '_id': ObjectId('5731c37a734a6a4aff67730c'), 'content': 'This is test!'}